
.rowHeader {
  font-style: italic;
  text-align: center; 
}

td {
  border-style: double;
}

td:nth-of-type(odd) {
  background-color: aliceblue;
}

td:nth-of-type(even) {
  background-color: chartreuse;
}

#outerDiv {
  width: 75%;
  background-color: pink;
}

#innerDiv {
  width: 75%;
  background-color: blue;
}