
/* Table formatting */

.rowHeader {
  font-style: italic;
  text-align: center; 
  font-weight: normal;
}

td {
  border-style: ridge;
}
  
th {
  border-style: ridge;
}

tbody>tr:nth-of-type(odd) {
  background-color: aliceblue;
}

tbody>tr:nth-of-type(even) {
  background-color: chartreuse;
}

/* div centering info was found here
http://www.tipue.com/blog/center-a-div/ */

#outerDiv {
  width: 75%;
  padding: 20px;
  background-color: pink;
}

#innerDiv {
  width: 75%;
  margin: auto;
  background-color: lightblue;
  text-align: center;
}